<%- include('./includes/header') %>
    <h1>Home Page</h1>
    <div class="post-details">
    <% if(isLogin) {%>
        
        <a href="/admin/create-post">Go to Admin Panel</a>
        <form action="/logout" method="post">
            <input name="_csrf" value="<%= csrfToken %>" type="hidden"/>
            <button class="logout-btn">Logout</button>
        </form>
    <% }else{ %>
        <a href="/login">Login</a>
    <% } %>
    </div>
    <p>Items <%= posts.length %></p>
    <div class="post-div">
        <div class="post-titles">
            <h3>Title</h3>
            <h3>Author</h3>
        </div>
        <% if(posts.length<1) { %>
            <h1>There is no post yet!</h1>
        <% }else{ 
            for(post of posts){
                %>
                <div class="post-box">
                    <span><%= post.title %></span>
                    <span><%= post.userId.username %></span>
                    <a href='post/<%= post._id%>' >View More...</a>
                </div>
        <% 
            }
        } %>
    </div>

<%- include('./includes/footer') %>