<%- include("./includes/header") %>

    <div class="post-details">
        
        <h1><%= post.title %></h1>
        <p><%= post.description %></p>
        <img src="<%= post.imgUrl %>" alt="">

        <div class="">
            <a href="/">Back to Home Page</a>
            <% if(isLogin){ %>
                <a href="/admin/edit-post/<%= post._id%>">Edit Post</a>
                <form action="/admin/delete-post/<%= post._id%>" method="post">
                    <button onclick="submit">Delete Post</button>
                </form>
            <% } %>
            
        </div>
    </div>

<%- include("./includes/footer") %>